@use 'vars';
@use 'mixins';

.container {
  position: relative;

  button {
    display: flex;
  }

  .form {
    position: absolute;
    top: 0;
    right: 0;

    .formContainer {
      @include mixins.border;
      border-top-right-radius: 0;
      background: vars.$white;

      .wrapper {
        padding: .3em;

        .link {
          width: 6em;
        }

        .submit {
          button {
            @include mixins.row-flex;
            gap: .2em;

            &:hover {
              color: vars.$gray;
            }
          }
        }
      }
    }
  }
}

button {
  &:hover {
    svg path {
      fill: vars.$gray;
    }
  }
}